@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bl-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.bl-icon-close::before {
  content: "\e005";
}

.icon-sad::before {
  content: "\e004";
}

.icon-happy::before {
   content: "\e002";
 }


.bl-icon::before {

  font-size: 2em;
  margin-bottom: 10px;
}

html {
  margin-top: -20px;
}

body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Abel', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #043D5D;
  overflow: hidden;
}

/* styled the homePage */

.mainPage {
  z-index: 100;
  background-color: #043D5D;
  color: white;
  text-align: center;
  width:100%;
  height: 100%;
/*   top: 0px;
left: 0px;
right: 0px;
bottom: 0px; */

    h2 {
      font-size: 4em;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    p {
      font-size: 2em;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    button {
      font-size: 1.25em;
      background-color: #043D5D;
      border: none;
      cursor: pointer;
      padding: 0px;
      margin-bottom: 0px;
    }
    .homeButtonContainer p {
      font-size: 1.45em;
    }

    .homeButton {
      height: 36px;
      width:26px;
      font-size: 2em;
    }
    .copyright {
      font-size: .7em;
    }
    img{
      margin-top: 250px;
      display: inline-block;
      width:50px;

    }
    // .by {
    //   margin-top: 150px;
    //   font-size: 1.05em;
    // }
    // ul {
    // padding: 0px;
    //   li{
    //     list-style-type: none;
    //     display: inline-block;
    //     img {
    //       width: 50px;
    //       border-radius: 10px;
    //     }
    //   }
    // }
}


/* Made the textBox site off the screen so we could transition it in */
/*style for the textBox, quote and close button*/


.textBox {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 2000px;
  text-align: center;
  float: left;
  transition: all 3s ease;
  /*button*/
    span.bl-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: .8em;
    }

    span.bl-icon:hover {
      color: #1488C8;
    }

    h3{
      font-size:2em;
      color:white;
      margin: 0px 25px;
      margin-top: 35px;
    }

    .quote{
      font-size: 1.5em;
    }

}

/*CSS for quote container within textBox*/

.badEvent{
  width:100%;
  text-align: center;
  margin-top: 5px;
}

.zoomOut {
  transform: translateY(100%);
  transform: scale(.5);
  opacity: 0;
  transition: all 2s ease;
}

/* This is the class that we are adding to make textBox transition in */

.replace {
  z-index: 101;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #EB5055;
  transform: translateY(0px);
  transition: all 2s ease;

}
