@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

.bl-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  color: white;
  -webkit-font-smoothing: antialiased; }

.bl-icon-close::before {
  content: "\e005"; }

.bl-icon-close-form::before {
  content: "\e005"; }

.icon-sad::before {
  content: "\e004"; }

.icon-happy::before {
  content: "\e002"; }

.icon-left::before {
  content: "\e008"; }

.icon-right::before {
  content: "\e009"; }

.bl-icon::before {
  font-size: 2em;
  margin-bottom: 10px; }

html {
  margin-top: 0px;
  background-color: #043D5D; }

body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Abel', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #043D5D;
  /*   overflow: hidden; */ }

/* styled the homePage */
.mainPage {
  z-index: 100;
  background-color: #043D5D;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 480px;
  /*   top: 0px;
left: 0px;
right: 0px;
bottom: 0px; */ }
  .mainPage h2 {
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 20px; }
  .mainPage p {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px; }
  .mainPage button {
    font-size: 1.25em;
    background-color: #043D5D;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 0px; }
  .mainPage .homeButtonContainer p {
    font-size: 1.45em; }
  .mainPage .homeButton {
    height: 36px;
    width: 26px;
    font-size: 2em; }
  .mainPage .by {
    margin-top: 15px;
    font-size: 1.05em; }
  .mainPage .copyright {
    font-size: 0.7em; }
  .mainPage img {
    margin-top: 39px;
    display: inline-block;
    width: 50px; }

/* Made the textBox site off the screen so we could transition it in */
/*style for the textBox, quote and close button*/
.textBox {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 0px;
  top: 100%;
  overflow: hidden;
  text-align: center;
  float: left;
  transition: all 1s ease;
  /*button*/ }
  .textBox span.bl-icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em; }
  .textBox span.bl-icon-close:hover {
    color: #1488C8; }
  .textBox .showQuoteForm {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #1488C8;
    border-radius: 5px;
    background-color: #1488C8; }
  .textBox .submitQuoteForm {
    border: 1px solid black;
    width: 50%;
    display: none;
    border-radius: 10px;
    background-color: grey;
    text-align: left;
    padding-left: 10px; }
    .textBox .submitQuoteForm input {
      text-align: left;
      width: 150px;
      font-size: 0.8em;
      height: 35px; }
  .textBox .showForm {
    z-index: 150;
    display: block;
    position: absolute; }
  .textBox .bl-icon-close-form {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.6em; }
  .textBox h3 {
    font-size: 2em;
    color: white;
    margin: 0px 25px;
    margin-top: 35px; }
  .textBox .quote {
    font-size: 1.5em; }
  .textBox ul {
    position: absolute;
    bottom: 10px;
    padding: 0px;
    margin: 0 auto;
    width: 100%; }
    .textBox ul li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle; }
    .textBox ul .date {
      font-size: 2em;
      padding-left: 10px;
      padding-right: 10px; }

/*CSS for quote container within textBox*/
.badEvent {
  width: 100%;
  text-align: center;
  margin-top: 5px; }

.zoomOut {
  transform: translateY(100%);
  transform: scale(0.5);
  opacity: 0;
  transition: all 2s ease; }

/* This is the class that we are adding to make textBox transition in */
.replace {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 500px;
  top: 0px;
  background-color: #EB5055;
  transform: translateY(0px);
  transition: all 2s ease; }
