html {
  margin-top: -20px; }

body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Abel', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #043D5D;
  overflow: hidden; }

/* styled the homePage */
.mainPage {
  z-index: 100;
  background-color: #043D5D;
  color: white;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .mainPage h2 {
    font-size: 4em; }
  .mainPage p {
    font-size: 2em; }
  .mainPage form {
    padding-bottom: 20px; }
    .mainPage form input {
      width: 350px;
      height: 50px;
      border-radius: 10px;
      font-size: 0.95em;
      border: 1px solid #EB5055;
      background-color: #EB5055;
      cursor: pointer; }

/* Made the textBox site off the screen so we could transition it in */
/*style for the textBox, quote and close button*/
/* Made the textBox site off the screen so we could transition it in */
/*style for the textBox, quote and close button*/
.textBox {
  width: 400px;
  height: 300px;
  margin-top: -2000px;
  text-align: center;
  /*button*/ }
  .textBox form {
    padding-bottom: 20px; }
    .textBox form input {
      width: 150px;
      height: 50px;
      color: white;
      border-radius: 10px;
      font-size: 0.95em;
      border: 2px solid white;
      background-color: #043D5D;
      cursor: pointer; }
  .textBox h3 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 2em;
    color: white;
    border-bottom: 2px solid teal; }
  .textBox .quote {
    font-size: 1.5em; }

/*CSS for quote container within textBox*/
.badEvent {
  width: 80%;
  margin: 10%;
  margin-top: 2%;
  text-align: left; }

/* This is the class that we are adding to make textBox transition in */
.replace {
  z-index: 101;
  margin: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #EB5055;
  transform: translateY(0px);
  transition: all 2s ease; }
