html {
  margin-top: -20px; }

body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Abel', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #043D5D;
  overflow: hidden; }

/* styled the homePage */
.mainPage {
  z-index: 100;
  background-color: #043D5D;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  /*   top: 0px;
left: 0px;
right: 0px;
bottom: 0px; */ }
  .mainPage h2 {
    font-size: 4em; }
  .mainPage p {
    font-size: 2em; }
  .mainPage button {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #EB5055;
    cursor: pointer; }
  .mainPage .by {
    margin-top: 80px;
    font-size: 1.05em; }
  .mainPage ul {
    padding: 0px; }
    .mainPage ul li {
      list-style-type: none;
      display: inline-block; }
      .mainPage ul li img {
        width: 100px;
        border-radius: 10px; }

/* Made the textBox site off the screen so we could transition it in */
/*style for the textBox, quote and close button*/
.textBox {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 2000px;
  text-align: center;
  float: left;
  transition: all 2s ease;
  /*button*/ }
  .textBox form {
    padding-bottom: 20px; }
    .textBox form input {
      width: 150px;
      height: 50px;
      color: white;
      border-radius: 10px;
      font-size: 0.95em;
      border: 2px solid white;
      background-color: #043D5D;
      cursor: pointer; }
  .textBox h3 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 2em;
    color: white; }
  .textBox .quote {
    font-size: 1.5em; }

/*CSS for quote container within textBox*/
.badEvent {
  width: 80%;
  margin: 10%;
  margin-top: 2%;
  text-align: left; }

.zoomOut {
  transform: translateY(100%);
  transform: scale(0.5);
  opacity: 0;
  transition: all 2s ease; }

/* This is the class that we are adding to make textBox transition in */
.replace {
  z-index: 101;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #EB5055;
  transform: translateY(0px);
  transition: all 2s ease; }
